<h1>今日はこの問題を復習しよう！</h1>


昨日：<%=@yesterday%><br>

<br>
<table>
<% @scores.each do |score|%>
<tr>
    <td><%=score.study_day%></td>
    <td><%=score.question.match(/","/).post_match.gsub("\"", '').gsub("\)",'')%></td>
    <td><%= link_to 'リンク', "#{score.question.match(/"/).post_match.match(/","/).pre_match}",:onclick=>"window.open(this.href,'hoge', 'height=400, width=800');return false;" %></td>
</tr>
<% end %>
</table>
