<center>
<table>
  <caption><%= @today.strftime('%Y年%m月')%></caption><!--年月の表示　例：2019年8月のところ-->
  <tr>
    <th>日</th><!--カレンダーの最上列・曜日を表示 -->
    <th>月</th>
    <th>火</th>
    <th>水</th>
    <th>木</th>
    <th>金</th>
    <th>土</th>
  </tr>
  <tr>

<% month = @today.strftime('%m')%>
<% d = @today.at_beginning_of_month.at_beginning_of_week(:sunday)%>
<% 1.upto(5).each do|i|%>
  <tr>
<% (d..d.end_of_week(:sunday)).each do|c|%>
    <th><%= link_to (c.strftime('%m') == month)? c.strftime('%d'): "  ", calendar_path(current_user.id,day:c.strftime("%Y-%m-%d"))%></th><!-- ここで日付を１日ずつ表示-->
<% end %>
  </tr>
<% d = d + 1.week %>
<% end %>
</table>
<br>
<button><%=link_to "<",calendars_path(month:@today)%></button>　<button><%=link_to ">",calendars_path(month:@today,ch:@blo)%></button>
</center>